@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.wrapper1 {
    padding: 5rem 0 5rem 0;
    background: #ffffff;
}

.wrapper-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.wrapper-content-left {
    width: 600px;
    text-align: center;
    padding: 1rem 3rem;
}

.wrapper-content-left img  {
    width: 100%;
    padding: 1rem;
}

.wrapper-content-right {
    width: 600px;
    margin: auto;
}


.wrapper-content-right h2 {
    font-size: 2rem;
    color: #5a5c82;
}

.wrapper-content-right h1 {
    text-transform: uppercase;
    color: #977ab3;
    font-size: 1rem;
    letter-spacing: 8px; 
}

.wrapper-content-right p {
    line-height: 25px;
    text-align: justify;
}


.leaf {
    position: absolute;
    width: 15%;
    left: 1%;
    bottom: 0%;
}



@media screen and (max-width:1250px)  {

    .wrapper-content-left {
        border: none;
    }

    .wrapper-content-right {
        width: 100%;
        padding: 1rem 2rem;
    }

    .wrapper-content-right h1, .wrapper-content-right h2, .wrapper-content-right p {
        text-align: center;
    }

    .wrapper-content-right h2 {
        font-size: 2rem;
    }

    .leaf {
        display: none;
    }

}

@media screen and (max-width:940px) {
    .wrapper-content-left {
        width: 100vw;
    }

}

